@import 'tailwindcss';
@import 'tw-animate-css';
@import '@aiqiabr/aiqia-ui/styles.css';
@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);
  --border: hsl(240 5.9% 90%);
  --ring: oklch(0.708 0 0);
  --success: oklch(0.7 0.15 162);
  --success-foreground: oklch(0.98 0.02 166);
  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);
  --radius: 0.5rem;
}

.dark {
  --background: hsl(240 10% 3.9%);
  --foreground: hsl(0 0% 98%);
  --border: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --success: oklch(0.51 0.1 166);
  --success-foreground: oklch(0.98 0.02 166);
  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-success: var(--ring);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --top-navigation-heigth: 3.8125rem;
  --margin-top-bars: calc(
    var(--top-navigation-heigth) + var(--top-bar-root-height, 0px)
  );
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
