@import 'tailwindcss';
@import 'tw-animate-css';
@import '@aiqiabr/aiqia-ui/variables.css';
@config "../tailwind.config.js";
@custom-variant dark (&:is(.dark *));

:root {
  --primary: hsl(240 10% 3.9%);
  --primary-foreground: hsl(0 0% 100%);
}

.dark {
  --primary: hsl(0 0% 100%);
  --primary-foreground: hsl(240 10% 3.9%);
}

@theme inline {
  --top-navigation-heigth: 3.3125rem;
  --margin-top-bars: calc(
    var(--top-navigation-heigth) + var(--top-bar-root-height, 0px)
  );
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
